In [128]:
yol = "../../Egzersizler/datasets/heart_disease.csv"

Kütüphanelerin İçe Aktarılması

In [129]:
import pandas as pd
pd.__version__

'2.3.1'

yukarıda yer alan yol değişkenini kullanarak seçtiğiniz veri setinin pd ile okunması

In [130]:
df = pd.read_csv(yol)

ilk 5 veri

In [131]:
df.head()

,age,sex,chest pain type,resting blood pressure,serum cholestoral in mg/dl,fasting blood sugar > 120 mg/dl,resting electrocardiographic results,maximum heart rate achieved,exercise induced angina,oldpeak,slope of peak,number of major vessels,thal,Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,1
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,0
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,1
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,0
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,0

son 5 veri

In [132]:
df.tail()

,age,sex,chest pain type,resting blood pressure,serum cholestoral in mg/dl,fasting blood sugar > 120 mg/dl,resting electrocardiographic results,maximum heart rate achieved,exercise induced angina,oldpeak,slope of peak,number of major vessels,thal,Disease
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,0
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,0
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,0
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,0
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1

veri ile ilgili özete bakılması

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   age                                   270 non-null    int64
 1   sex                                   270 non-null    int64
 2   chest pain type                       270 non-null    int64
 3   resting blood pressure                270 non-null    int64
 4   serum cholestoral in mg/dl            270 non-null    int64
 5   fasting blood sugar > 120 mg/dl       270 non-null    int64
 6   resting electrocardiographic results  270 non-null    int64
 7   maximum heart rate achieved           270 non-null    int64
 8   exercise induced angina               270 non-null    int64
 9   oldpeak                               270 non-null    float64
 10  slope of peak                         270 non-null    int64
 11  number of major vessels               270 non-null    int64
 12  thal                                  270 non-null    int64
 13  Disease                               270 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 29.7 KB

Veri ile ilgili tanımlayıcı istatistiklere bakılması

In [134]:
df.describe()

,age,sex,chest pain type,resting blood pressure,serum cholestoral in mg/dl,fasting blood sugar > 120 mg/dl,resting electrocardiographic results,maximum heart rate achieved,exercise induced angina,oldpeak,slope of peak,number of major vessels,thal,Disease
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000,270.000000
mean,54.433333,0.677778,3.174074,131.344444,249.659259,0.148148,1.022222,149.677778,0.329630,1.05000,1.585185,0.670370,4.696296,0.444444
std,9.109067,0.468195,0.950090,17.861608,51.686237,0.355906,0.997891,23.165717,0.470952,1.14521,0.614390,0.943896,1.940659,0.497827
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,1.000000,0.000000,3.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,213.000000,0.000000,0.000000,133.000000,0.000000,0.00000,1.000000,0.000000,3.000000,0.000000
50%,55.000000,1.000000,3.000000,130.000000,245.000000,0.000000,2.000000,153.500000,0.000000,0.80000,2.000000,0.000000,3.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,280.000000,0.000000,2.000000,166.000000,1.000000,1.60000,2.000000,1.000000,7.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,3.000000,3.000000,7.000000,1.000000

istediğiniz 2 sütuna ve 20 veriye erişim

In [135]:
df.iloc[0:19,4:5]

    serum cholestoral in mg/dl
0                          322
1                          564
2                          261
3                          263
4                          269
5                          177
6                          256
7                          239
8                          293
9                          407
10                         234
11                         226
12                         235
13                         234
14                         303
15                         149
16                         311
17                         203
18                         211

istediğiniz bir sütun için şart yazımı

In [136]:
dfFilter = df[df["age"]>65]
dfFilter

,age,sex,chest pain type,resting blood pressure,serum cholestoral in mg/dl,fasting blood sugar > 120 mg/dl,resting electrocardiographic results,maximum heart rate achieved,exercise induced angina,oldpeak,slope of peak,number of major vessels,thal,Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,1
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,0
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,0
15,71,0,4,112,149,0,0,125,0,1.6,2,0,3,0
20,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
29,71,0,3,110,265,1,2,130,0,0.0,1,1,3,0
31,66,1,4,160,228,0,2,138,0,2.3,1,0,6,0
48,66,1,2,160,246,0,0,120,1,0.0,2,3,6,1
72,70,1,2,156,245,0,2,143,0,0.0,1,0,3,0
73,76,0,3,140,197,0,1,116,0,1.1,2,0,3,0
74,67,0,4,106,223,0,0,142,0,0.3,1,2,3,0
96,66,1,4,120,302,0,2,151,0,0.4,2,0,3,0
101,67,1,4,120,237,0,0,71,0,1.0,2,0,3,1
118,66,0,1,150,226,0,0,114,0,2.6,3,0,3,0
131,66,1,4,112,212,0,2,132,1,0.1,1,1,3,1
136,67,0,3,152,277,0,0,172,0,0.0,1,1,3,0
159,66,0,4,178,228,1,0,165,1,1.0,2,2,7,1
170,69,1,1,160,234,1,2,131,0,0.1,2,1,3,0
171,69,1,3,140,254,0,2,146,0,2.0,2,3,7,1
172,67,1,4,100,299,0,2,125,1,0.9,2,2,3,1
173,68,0,3,120,211,0,2,115,0,1.5,2,0,3,0
178,67,1,4,125,254,1,0,163,0,0.2,2,2,7,1
189,70,1,3,160,269,0,0,112,1,2.9,2,1,7,1
191,70,1,4,145,174,0,0,125,1,2.6,3,0,7,1
198,69,0,1,140,239,0,0,151,0,1.8,1,2,3,0
199,77,1,4,125,304,0,2,162,1,0.0,1,3,3,1
200,68,1,3,118,277,0,0,151,0,1.0,1,1,7,0
240,68,1,3,180,274,1,2,150,1,1.6,2,0,7,1
255,71,0,2,160,302,0,0,162,0,0.4,1,2,3,0
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1

Boş verilerin sütun bazında listelenmesi

In [137]:
df.isna().sum()

age                                     0
sex                                     0
chest pain type                         0
resting blood pressure                  0
serum cholestoral in mg/dl              0
fasting blood sugar > 120 mg/dl         0
resting electrocardiographic results    0
maximum heart rate achieved             0
exercise induced angina                 0
oldpeak                                 0
slope of peak                           0
number of major vessels                 0
thal                                    0
Disease                                 0
dtype: int64