In [13]:
yol = "../../Egzersizler/datasets/diabetes.csv"

Kütüphanelerin İçe Aktarılması

In [14]:
import pandas as pd

yukarıda yer alan yol değişkenini kullanarak seçtiğiniz veri setinin pd ile okunması

In [16]:
df = pd.read_csv(yol)

ilk 5 veri

In [17]:
df.loc[:5]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0

son 5 veri

In [20]:
df.tail(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

veri ile ilgili özete bakılması

In [19]:
df.info

<bound method DataFrame.info of      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]>

Veri ile ilgili tanımlayıcı istatistiklere bakılması

In [21]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

istediğiniz 2 sütuna ve 20 veriye erişim

In [24]:
df[['BMI','Insulin']].loc[:20]

     BMI  Insulin
0   33.6        0
1   26.6        0
2   23.3        0
3   28.1       94
4   43.1      168
5   25.6        0
6   31.0       88
7   35.3        0
8   30.5      543
9    0.0        0
10  37.6        0
11  38.0        0
12  27.1        0
13  30.1      846
14  25.8      175
15  30.0        0
16  45.8      230
17  29.6        0
18  43.3       83
19  34.6       96
20  39.3      235

istediğiniz bir sütun için şart yazımı

Boş verilerin sütun bazında listelenmesi

In [35]:
df[df['BMI']>30].nsmallest(25,'BMI')

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
13,1,189,60,23,846,30.1,0.398,59,1
186,8,181,68,36,495,30.1,0.615,60,1
249,1,111,86,19,0,30.1,0.143,23,0
256,3,111,56,39,0,30.1,0.557,30,0
497,2,81,72,15,76,30.1,0.547,25,0
559,11,85,74,0,0,30.1,0.300,35,0
574,1,143,86,30,330,30.1,0.892,23,0
729,2,92,52,0,0,30.1,0.141,22,0
766,1,126,60,0,0,30.1,0.349,47,1
457,5,86,68,28,71,30.2,0.364,24,0
516,9,145,88,34,165,30.3,0.771,53,1
192,7,159,66,0,0,30.4,0.383,36,1
283,7,161,86,0,0,30.4,0.165,47,1
355,9,165,88,0,0,30.4,0.302,49,1
431,3,89,74,16,85,30.4,0.551,38,0
508,2,84,50,23,76,30.4,0.968,21,0
695,7,142,90,24,480,30.4,0.128,43,1
767,1,93,70,31,0,30.4,0.315,23,0
8,2,197,70,45,543,30.5,0.158,53,1
114,7,160,54,32,175,30.5,0.588,39,1
147,2,106,64,35,119,30.5,1.400,34,0
308,0,128,68,19,180,30.5,1.391,25,1
317,3,182,74,0,0,30.5,0.345,29,1
443,8,108,70,0,0,30.5,0.955,33,1
449,0,120,74,18,63,30.5,0.285,26,0