In [4]:
yol = "../../Egzersizler/datasets/diabetes.csv"

Kütüphanelerin İçe Aktarılması

In [27]:
import pandas as pd
import numpy as np
import pyxl
import os

ModuleNotFoundError: No module named 'pyxl'

yukarıda yer alan yol değişkenini kullanarak seçtiğiniz veri setinin pd ile okunması

In [5]:
datas = pd.read_csv(yol)

ilk 5 veri

In [7]:
datas[:5]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

son 5 veri

In [8]:
datas.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

veri ile ilgili özete bakılması

In [12]:
datas.shape

(768, 9)

Veri ile ilgili tanımlayıcı istatistiklere bakılması

In [13]:
datas.info

<bound method DataFrame.info of      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]>

istediğiniz 2 sütuna ve 20 veriye erişim

In [24]:
datas.loc[0:20,["BloodPressure","Age"]]

    BloodPressure  Age
0              72   50
1              66   31
2              64   32
3              66   21
4              40   33
5              74   30
6              50   26
7               0   29
8              70   53
9              96   54
10             92   30
11             74   34
12             80   57
13             60   59
14             72   51
15              0   32
16             84   31
17             74   31
18             30   33
19             70   32
20             88   27

istediğiniz bir sütun için şart yazımı

filter = datas[datas["BloodPressure"]>75]

In [25]:
filter = datas[datas["BloodPressure"]>75]
filter

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
12,10,139,80,0,0,27.1,1.441,57,0
16,0,118,84,47,230,45.8,0.551,31,1
20,3,126,88,41,235,39.3,0.704,27,0
...,...,...,...,...,...,...,...,...,...
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
763,10,101,76,48,180,32.9,0.171,63,0

Boş verilerin sütun bazında listelenmesi

In [26]:
eksik =  {'Pergnancies' : ['1','2','3','4','5','6','7','8','9','10']}
eksik_Df = datas.DataFrame(eksik)
eksik_Df

AttributeError: 'DataFrame' object has no attribute 'DataFrame'