In [1]:
yol = "../../Egzersizler/datasets/diabetes.csv"

Kütüphanelerin İçe Aktarılması

In [2]:
import pandas as pd
import numpy as np

yukarıda yer alan yol değişkenini kullanarak seçtiğiniz veri setinin pd ile okunması

In [ ]:
df_house = pd.read_csv(yol)
print("\n CSV Dosyasından Okunan Veri:")
print(df_house)

ilk 5 veri

In [ ]:
bes_veri=df_house.head()
print(bes_veri)

son 5 veri

In [ ]:
son_bes_veri=df_house.tail()
print(son_bes_veri)

veri ile ilgili özete bakılması

In [ ]:
df_house.info()

Veri ile ilgili tanımlayıcı istatistiklere bakılması

In [ ]:
print(df_house.describe(include='all'))

istediğiniz 2 sütuna ve 20 veriye erişim

In [ ]:
df_house.loc[:20,["BloodPressure","Outcome"]]

    BloodPressure  Outcome
0              72        1
1              66        0
2              64        1
3              66        0
4              40        1
5              74        0
6              50        1
7               0        0
8              70        1
9              96        1
10             92        0
11             74        1
12             80        0
13             60        1
14             72        1
15              0        1
16             84        1
17             74        1
18             30        0
19             70        1
20             88        0

istediğiniz bir sütun için şart yazımı

Boş verilerin sütun bazında listelenmesi