In [ ]:
yol = "../../Egzersizler/datasets/titanic/train.csv"

Kütüphanelerin İçe Aktarılması

In [ ]:
import pandas as pd
import numpy as np

yukarıda yer alan yol değişkenini kullanarak seçtiğiniz veri setinin pd ile okunması

In [ ]:
df = pd.read_csv(yol)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.head()

son 5 veri

In [29]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.45,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,Q

veri ile ilgili özete bakılması

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

Veri ile ilgili tanımlayıcı istatistiklere bakılması

In [31]:
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [ ]:
## Boş verilerin temizlenmesi
medyanage = df["Age"].median()
df["Age"] = df["Age"].fillna(medyanage)
#df.drop(["Cabin"],axis=1,inplace=True)
modeEmbarked = df["Embarked"].mode()[0]
df["Embarked"] = df["Embarked"].fillna(modeEmbarked)

KeyError: "['Cabin'] not found in axis"

In [ ]:
df.isna().sum()

In [ ]:
df.describe()

istediğiniz 2 sütuna ve 20 veriye erişim

In [ ]:
df.loc[:20,["BloodPressure","Outcome"]]

istediğiniz bir sütun için şart yazımı

In [ ]:
df[df["Age"]> 30]

Boş verilerin sütun bazında listelenmesi

In [ ]:
df.isna().sum()

In [ ]:
df.Pregnancies.plot(kind="hist")

In [ ]:
df.corr()

In [ ]:
import seaborn as sns
sns.heatmap(df.corr(),annot=True)